body {
  margin: 0;
}

.hero-container {
  width: 100vw;
  height: 90vh;
}

.hero-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  background-color: rgb(174, 163, 163);
  border-radius: 12px;
  padding: 12px;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 30vh;
  margin: 12px;
  text-align: center;
}

.down-arrow {
  font-size: 4rem;
  color: white;
  transform: rotate(90deg);
  position: absolute;
  bottom: 100px;
  left: 50%;
  animation: go-down 1s infinite;
}

@keyframes go-down {
  0% {
    bottom: 100px;
  }

  100% {
    bottom: 10px;
  }
}

/* nav section */
nav {
  position: sticky;
  top: 0;
}
.nav-container {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.nav-container ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  font-size: 1.4rem;
}

/* Parallax Image */
.parallax-image{
  background: url(./assets/a.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}

.parallax-image-2{
  background: url(./assets/b.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
}

.parallax-text {
  background-color: rgb(208, 178, 178);
  padding: 32px;
  border-radius: 12px;
  letter-spacing: 16px;
  text-transform: uppercase;
  text-align: center;
}