body {
  font-size: 32px;
}

.parent {
  background: blue;
  padding: 10px;

  height: 80vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.parent > div {
  background: grey;
  height: 70px;
  width: 70px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-3 {
  flex-grow: 1;
}

.item-7 {
  flex-grow: 3;
}
